* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#15171e;
    box-sizing: border-box;
}
.logo {
    cursor: pointer;
}
.header {
    margin: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoes-cabecalho {
    display: flex;
}

a {
    text-decoration: none;
}
.btn-link {
    padding-left: 30px;
    color: #0093fe;
}
.btn-link-txt {
    color: #b3b3b5;
}
.btn-link-txt3 {
    color: #60768d;
}

.barras {
    display: flex;
    margin-bottom: 5px;
    margin: 0.5%;

}
.barra-1 {
    background-color: #23252b;
    width: 59.65%;
    height: 40px;
    border-radius: 5px;
    margin: 0.5%;
}
.barra-2 {
    background-color: #23252b;
    width: 25%;
    border-radius: 5px;
    margin: 0.5%;
}
.barra-3 {
    background-color: #23252b;
    width: 3%;
    border-radius: 5px;
    margin: 0.5%;
}
.barra-4 {
    background-color: #23252b;
    width: 8%;
    border-radius: 5px;
    margin: 0.5%;
}
.btn-pesq {
    background-color: #23252b;
    height: 40px;
    width: 12%;
    border-radius: 5px;
    border: none;
    color: #b3b3b5;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-pesq:hover {
    background-color: #434950;
}
.btn-pesq1 {
    background-color: #23252b;
    height: 40px;
    width: 340px;
    border-radius: 5px;
    border: none;
    color: #b3b3b5;
    font-weight: bold;
    cursor: text;
    text-align: start;
    padding-left: 10px;
    transition-duration: 0.3s;
    margin-left: 0.1%;
}
.btn-pesq1:hover {
    background-color: #434950;
}
.btn-pesq2 {
    background-color: #23252b;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: #b3b3b5;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-pesq2:hover {
    background-color: #434950;
}
.btn-pesq3 {
    background-color: #23252b;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    border: none;
    color: #6cdb00;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn-pesq3:hover {
    background-color: #434950;
}

.btn-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin: 1%;
    max-width: 100%;
}
.menu-low-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.low-banner-btn-seta {
    background-color: #15171e;
    border: none;
    color: #626264;
    padding-right: 7px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.low-banner-btn-seta:hover {
    color: #0093fe;
    border: none;
    width: 40px;
    transition-duration: 0.5s;
    margin-left: 0.5%;

}
.low-banner-btn {
    width: 35px;
    height:5px;
    background-color: #626264;
    margin: 2px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition-duration: 0.5s;
}
.low-banner-btn:hover {
    background-color: #0093fe;
    border: none;
    width: 40px;
    height:7px;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.icons {
    margin: 1%;
    display: flex;
    margin-bottom: 10%;
}
.botoes-hud {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    background-color: #23252b;
    height: 55px;
    width: 100%;
    border-radius: 4px;
}
.botao-hud {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 0.3%;
    background-color: #434950;
}
.botao-hud:hover {
    background-color: #0093fe;
    margin: 1%;
    width: 50px;
    height: 50px;
}

.recomendado {
    color: #fff;
    margin-left: 1.5%;
    cursor: pointer;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-card {
    max-width: 305.500px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 5%;
}
.texto-card {
    padding: 5%;
    padding-left: 7%;
}
.h3card-sup {
    color: #cdcdcf;
    font-size: 19px;
    padding-bottom: 3%;
}
.p-card1 {
    color: #ffb400;
    font-size: 14px;
    padding-bottom: 3%;
}
.p-card2{
    color: #c2c2c4; 
    font-size: 12px;
}
.price {
    color: #cdcdcf; 
    font-size: 17px;
    font-weight: bold;
    display: flex;
}

.btnteste {
    background-color: #23252b;
    border: none;
    border-radius: 5px;
    max-width: 305.500px;
    height: 400px;
    border-radius: 5px;
    margin-top: 1.7%;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btnteste:hover {
    background-color: #434950;
    border: none;
    margin: 1.5%;
}

.low-banner {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #2e2523;
    margin-top: 5%;
    display: flex;
    flex-direction: row;

}
.low-img {
    margin: 7%;
    margin-right: 2.7%;
    width: 50%;
    max-height: 340px;
    cursor: pointer;
}

.texto-esquerda-low {
    margin: 5%;
    color: #fff;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 400px;
    margin-top: 4.5%;
}

.plow {
    font-size: 55px;
    margin: 2%;
    margin-bottom: 5%;
    margin-left: 0;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plow1 {
    font-size: 23px;
    margin-left: 0;
    font-weight: bold;
}
.plow2 {
    margin: 8%;
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 1%;
}

.low-btn {
    background-color: #0074e0;
    padding: 3.5%;
    border-radius: 5px;
    width: 300px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    border: none;
    margin-top: 7%;
}
.low-btn:hover {
    background-color: #054b7e;
}

.low-btn2 {
    background-color: #586077;
    padding: 3%;
    border-radius: 5px;
    width: 150px;
    margin-left: 3%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.5s;
    border: none;

}
.low-btn2:hover {
    background-color: #434950;
}